<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #action{
            background-color: rgb(0, 0, 2);
            display: flex;
            color: beige;
            font-style: oblique;
            flex-direction: row;
            justify-content: center;
            margin: 1rem;
            padding: 9rem;
            border: 10px solid black;
            border-radius: 9px;
        }
        #create{
            background-color: rgb(48, 3, 20);
            font-size: 3rem;
            font-style: oblique;
            color: beige;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 1.5rem;
            padding: 1.5rem;
            border: 3px solid black;
            border-radius: 20px;
        }
        #join{
            background-color:rgb(2, 36, 16);
            font-size: 3rem;
            font-style: oblique;
            color: beige;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 1.5rem;
            padding: 1.5rem;
            border: 3px solid black;
            border-radius: 20px;
        }
        #profile{
            background-color:black;
            color: bisque;
            display: flex;
            flex-direction:column;
            justify-content: center;
           margin: 1rem;
           
           padding: 1.5rem;
           height: 28px;
           border: 1px solid white;
            border-radius: 100px;
        }

    </style>
</head>
<body>
    <div id="action">
    <div id="create">
        <form action="/room/create" method="post">

            <p>CREATE NEW ROOM </p>
            <input type="text" name="roomId">
            <button type="submit">Create  room</button>

        </form>

        </div>
        <div id="join">
        <form action="/room" method="post">

            <p>join a room</p>
            <input type="text" name="Id" placeholder="give roomId here">
            <button type="submit">join  room</button>

        </form>
         </div>
         <div id="profile">
         <form action="/auth/profile" method="get">

            <p>your profile</p>
            
            <button type="submit">profile</button>

        </form> </div>
</div>
       
   
</body>
</html>